@font-face {
    font-family: 'FranklinGothic-Book';
    src: local('FranklinGothic-Book'),  url('../fonts/FranklinGothic Book.TTF') format('truetype');
  }
  @font-face {
    font-family: 'FranklinGothic-Demi';
    src: local('FranklinGothic Demi'), url('../fonts/FranklinGothic-Demi.TTF'), format('truetype');
  }

*{
    margin:0;
    padding:0;
}

body{
  font-size: 16px;
}

.svgContainer{
    display:flex;
    width:100%;
}

  iframe, .imgEmbedSvg{
      width:100%;
      height:100vh;
  }


svg
{
  font-family : "FranklinGothic-Book" , serif;
  width: 100%;
  height: 100vh;
}
